$color-primary: #edece4;
$color-secondary: #2a2426;
$color-one: #cbc6b9;
$color-two: #988c77;
$pointer: #009440;

$font-primary: 'PT Mono', monospace;
$font-secondary: 'Aref Ruqaa', serif;


@function em($pixel, $contexto: 16) {
	@return $pixel / $contexto + em;
}

@mixin tipo-1($size) {
	font-family: $font-primary;
	@if $size == 18 {
		font-size: em(18);
		line-height: em(30, 18);
	}
}

@mixin tipo-2($size) {
	font-family: $font-secondary;
	@if $size == 18 {
		font-size: em(18);
		line-height: em(30, 18);
	}
	@else if $size == 24 {
		font-size: em(24);
		line-height: em(30, 24);
	}
}